/node_modules
/public/hot
/public/js
/public/css
/storage/*.key
!public/storage/
!public/storage/images/
!public/storage/images/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
